@use '../../styles//variables';
@use '../../styles/mixins';

.dark-mode-toggle {
  width: 100%;
  max-width: 150px;
  margin-bottom: 20px;
  @include mixins.flex(row, nowrap, space-between, center);

  &__label {
    font-weight: 500;
  }

  &__switch {
    background-color: variables.$color-container-background;
    border-radius: 20px;
    display: block;
    position: relative;
    width: 60px;
    height: 30px;
  }

  &__checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: variables.$color-button-filter;
    border-radius: 20px;
    transition: all 0.4s;

    &::before {
      position: absolute;
      content: '';
      height: 20px;
      width: 20px;
      left: 5px;
      bottom: 5px;
      background: white;
      border-radius: 40px;
      transition: all 0.4s;
      box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    }
  }

  &__checkbox:checked + &__slider {
    background-color: variables.$color-container-background;
  }

  &__checkbox:checked + &__slider::before {
    transform: translateX(30px);
  }
}
