@use '../../styles//variables';

.close-icon {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &__line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: variables.$color-secondary;
    border-radius: 2px;
    transform-origin: center center;
    transition: transform 0.3s ease;
  }

  &__line--one {
    transform: translateY(-50%) rotate(45deg);
  }

  &__line--two {
    transform: translateY(-50%) rotate(-45deg);
  }
}

.button {
  padding: 5px 10px;
}

.control-button {
  color: variables.$color-secondary;
  background-color: white;
  border-radius: 20px;

  &:active,
  &:hover {
    color: white;
    background-color: variables.$color-button-filter;
    border-color: variables.$color-button-filter;
  }
}

.pagination-button {
  color: variables.$color-primary;
  border-radius: 7px;

  &:active,
  &:hover {
    background-color: variables.$color-container-background;
    border-color: variables.$color-container-background;
  }
}

.control-button,
.pagination-button {
  border: 2px solid variables.$color-border;
  transition: all 0.3s ease;
}

