@use './variables';

* {
  padding: 0;
  margin: 0;
  &,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

body {
  font-family: variables.$font-primary;
}
