$color-primary: #000;
$color-secondary: #707784;
$color-container-background: #f3f4f5;
$color-border: #d5d7de;
$color-button-filter: #999898;

$font-primary:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif;
